@font-face {
  font-family: proximaNova;
  src: url(../fonts/proxima-nova-reg.ttf);
}

html,
body {
  overflow: hidden;
  overflow-y: auto;
}

body {
  font-family: proximaNova;
  background: #fafafd;
}

a,
button,
input[type="submit"],
input[type="button"] {
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  text-decoration: none !important;
  outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0px;
}

.container {
  width: 100%;
  max-width: 1206px;
}

.sprite_icon {
  background-image: url(../img/icon-sprite.png);
}

.btn_primary,
header#dp_header .navbar-nav .nav-item .btn_contactus,
.banner .slider_section .home_slider .slider_text .btn_requestQuote,
.dedicated .dedicated_buttons a.btn_requestProposal,
.training .training_data .dedicated_buttons a.btn_requestProposal,
.career .dedicated_buttons a.btn_requestProposal,
.career .career_data .career_boxes .effect_button_div .effect_button {
  display: inline-block;
  background: #e5d80e;
  text-align: center;
  text-transform: capitalize;
  border-radius: 20px;
  color: #000;
  font-weight: 600;
  position: relative;
  overflow: hidden;
}

.btn_primary span,
header#dp_header .navbar-nav .nav-item .btn_contactus span,
.banner .slider_section .home_slider .slider_text .btn_requestQuote span,
.dedicated .dedicated_buttons a.btn_requestProposal span,
.training .training_data .dedicated_buttons a.btn_requestProposal span,
.career .dedicated_buttons a.btn_requestProposal span,
.career .career_data .career_boxes .effect_button_div .effect_button span {
  position: relative;
  z-index: 1;
}

.btn_primary:after,
header#dp_header .navbar-nav .nav-item .btn_contactus:after,
.banner .slider_section .home_slider .slider_text .btn_requestQuote:after,
.dedicated .dedicated_buttons a.btn_requestProposal:after,
.training .training_data .dedicated_buttons a.btn_requestProposal:after,
.career .dedicated_buttons a.btn_requestProposal:after,
.career .career_data .career_boxes .effect_button_div .effect_button:after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  background: #001a3b;
  height: 100%;
  border-radius: 20px;
}

.btn_primary:hover span,
header#dp_header .navbar-nav .nav-item .btn_contactus:hover span,
.banner .slider_section .home_slider .slider_text .btn_requestQuote:hover span,
.dedicated .dedicated_buttons a.btn_requestProposal:hover span,
.training .training_data .dedicated_buttons a.btn_requestProposal:hover span,
.career .dedicated_buttons a.btn_requestProposal:hover span,
.career
  .career_data
  .career_boxes
  .effect_button_div
  .effect_button:hover
  span {
  color: #fff;
}

.btn_primary:hover:after,
header#dp_header .navbar-nav .nav-item .btn_contactus:hover:after,
.banner .slider_section .home_slider .slider_text .btn_requestQuote:hover:after,
.dedicated .dedicated_buttons a.btn_requestProposal:hover:after,
.training .training_data .dedicated_buttons a.btn_requestProposal:hover:after,
.career .dedicated_buttons a.btn_requestProposal:hover:after,
.career
  .career_data
  .career_boxes
  .effect_button_div
  .effect_button:hover:after {
  left: 0%;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.btn_borderoutline,
header#dp_header .navbar-nav .nav-item .btn_requestquote,
.dedicated .dedicated_buttons a.btn_contactRoyal,
.training .training_data .dedicated_buttons a.btn_contactRoyal,
.career .dedicated_buttons a.btn_contactRoyal,
.royal_touch .view_more {
  display: inline-block;
  text-align: center;
  text-transform: capitalize;
  border-radius: 20px;
  color: #000;
  font-weight: 600;
  border: 2px solid;
  position: relative;
  overflow: hidden;
}

.btn_borderoutline:after,
header#dp_header .navbar-nav .nav-item .btn_requestquote:after,
.dedicated .dedicated_buttons a.btn_contactRoyal:after,
.training .training_data .dedicated_buttons a.btn_contactRoyal:after,
.career .dedicated_buttons a.btn_contactRoyal:after,
.royal_touch .view_more:after {
  content: "";
  width: calc(100% - 5px);
  position: absolute;
  top: 50%;
  left: 50%;
  height: calc(100% - 5px);
  background: #e5d80e;
  border-radius: 25px;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.btn_borderoutline:hover,
header#dp_header .navbar-nav .nav-item .btn_requestquote:hover,
.dedicated .dedicated_buttons a.btn_contactRoyal:hover,
.training .training_data .dedicated_buttons a.btn_contactRoyal:hover,
.career .dedicated_buttons a.btn_contactRoyal:hover,
.royal_touch .view_more:hover,
.btn_borderoutline:focus,
header#dp_header .navbar-nav .nav-item .btn_requestquote:focus,
.dedicated .dedicated_buttons a.btn_contactRoyal:focus,
.training .training_data .dedicated_buttons a.btn_contactRoyal:focus,
.career .dedicated_buttons a.btn_contactRoyal:focus,
.royal_touch .view_more:focus,
.btn_borderoutline:active,
header#dp_header .navbar-nav .nav-item .btn_requestquote:active,
.dedicated .dedicated_buttons a.btn_contactRoyal:active,
.training .training_data .dedicated_buttons a.btn_contactRoyal:active,
.career .dedicated_buttons a.btn_contactRoyal:active,
.royal_touch .view_more:active {
  border-color: #e5d80e;
}

.btn_borderoutline:hover:after,
header#dp_header .navbar-nav .nav-item .btn_requestquote:hover:after,
.dedicated .dedicated_buttons a.btn_contactRoyal:hover:after,
.training .training_data .dedicated_buttons a.btn_contactRoyal:hover:after,
.career .dedicated_buttons a.btn_contactRoyal:hover:after,
.royal_touch .view_more:hover:after,
.btn_borderoutline:focus:after,
header#dp_header .navbar-nav .nav-item .btn_requestquote:focus:after,
.dedicated .dedicated_buttons a.btn_contactRoyal:focus:after,
.training .training_data .dedicated_buttons a.btn_contactRoyal:focus:after,
.career .dedicated_buttons a.btn_contactRoyal:focus:after,
.royal_touch .view_more:focus:after,
.btn_borderoutline:active:after,
header#dp_header .navbar-nav .nav-item .btn_requestquote:active:after,
.dedicated .dedicated_buttons a.btn_contactRoyal:active:after,
.training .training_data .dedicated_buttons a.btn_contactRoyal:active:after,
.career .dedicated_buttons a.btn_contactRoyal:active:after,
.royal_touch .view_more:active:after {
  opacity: 1;
}

.backgound_section,
.training {
  position: relative;
  overflow: hidden;
}

.backgound_section .background_image,
.training .background_image,
.training .training_image {
  position: absolute;
  height: 100%;
}

.backgound_section .background_image:after,
.training .background_image:after,
.training .training_image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.backgound_section .background_data,
.training .background_data,
.backgound_section .training .training_data,
.training .backgound_section .training_data,
.training .training_data {
  position: relative;
  z-index: 1;
}

.pulse_button .bg,
.pulse_button .button {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.pulse_button .bg {
  -webkit-animation: pulse 1.2s ease infinite;
  animation: pulse 1.2s ease infinite;
  background: #e5d80e;
}

.pulse_button .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: absolute;
  z-index: 99;
  border: none;
  background: #e5d80e;
  background-size: 18px;
  cursor: pointer;
  outline: none;
}

.pulse_button .button a {
  position: absolute;
  color: #000;
  font-size: 23px;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}

.top-header {
  background-color: #000000;
  padding: 12px 0px;
}

.top-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.top-header .container > span {
  color: #e5d80e;
  font-weight: 600;
}

.top-header ul {
  margin-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.top-header ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 0 22px;
}

.top-header ul li:first-child {
  margin-left: 0px;
}

.top-header ul i {
  display: inline-block;
  margin-right: 8px;
  height: 22px;
}

.top-header ul i.mail_icon {
  width: 21px;
  background-position: 0 2px;
}

.top-header ul i.payment_icon {
  width: 22px;
  background-position: -32px 3px;
}

.top-header ul i.user_icon {
  width: 21px;
  background-position: -65px 1px;
}

.top-header ul i.phone_icon {
  width: 21px;
  background-position: -96px 2px;
}

.top-header ul a {
  color: #fafafa;
}

.top-header ul a:hover,
.top-header ul a:focus,
.top-header ul a:active {
  color: #e5d80e;
}

header#dp_header .navbar {
  padding: 0;
}

header#dp_header .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-left: auto;
}

header#dp_header .navbar-nav .nav-item {
  position: relative;
  margin-left: 25px;
}

header#dp_header .navbar-nav .nav-item .menu_item {
  display: block;
  padding: 0px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

header#dp_header .navbar-nav .nav-item .btn_contactus {
  min-width: 120px;
  line-height: 38px;
}

header#dp_header .navbar-nav .nav-item .btn_requestquote {
  min-width: 160px;
  line-height: 38px;
}

header#dp_header.sticky-header {
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 100;
  top: 0;
}

footer {
  background: #000000;
  padding: 43px 0px;
}

footer .footer_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

footer .footer_top ul {
  margin-bottom: 0;
}

footer .footer_top ul li {
  position: relative;
  margin-right: 25px !important;
}

footer .footer_top ul li:after {
  content: "|";
  position: absolute;
  top: 0;
  right: -15px;
  z-index: 1;
  color: #fff;
}

footer .footer_top ul li:last-child {
  margin-right: 0px !important;
}

footer .footer_top ul li:last-child:after {
  display: none;
}

footer .footer_top ul li a {
  color: #fafafa;
  font-size: 17px;
}

footer .footer_top ul li a:hover {
  color: #e5d80e;
}

footer .footer_top ul li a:focus,
footer .footer_top ul li a:active {
  color: #fafafa;
}

footer .footer_bottom {
  margin-top: 35px;
}

footer .footer_bottom a:hover {
  color: #e5d80e !important;
}

footer .footer_bottom a:focus,
footer .footer_bottom a:active {
  color: #fafafa;
}

footer .footer_bottom h5 {
  text-transform: uppercase;
  color: #e5d80e;
}

footer .footer_bottom .email_id {
  font-size: 34px;
  color: #fafafa;
  margin-top: 12px;
  display: inline-block;
}

footer .footer_bottom .map_address {
  display: block;
  font-size: 18px;
  color: #fafafa;
  margin: 15px 0;
  max-width: 395px;
  line-height: 37px;
}

footer .footer_bottom .having_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  color: #fafafa;
  font-size: 19px;
}

footer .footer_bottom .having_icon i {
  display: inline-block;
  width: 24px;
  margin-right: 13px;
}

footer .footer_bottom .having_icon i.clock_icon {
  background-position: -134px 1px;
  height: 27px;
}

footer .footer_bottom .having_icon i.phone_icon {
  background-position: -163px 1px;
  height: 27px;
}

footer .footer_bottom .having_icon a {
  color: #fafafa;
}

footer .footer_bottom .right_footer {
  padding-left: 80px;
}

footer .footer_bottom .right_footer .footer_links {
  padding-left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 20px;
}

footer .footer_bottom .right_footer .footer_links li {
  width: 100%;
  margin: 0 0px 20px !important;
}

footer .footer_bottom .right_footer .footer_links li a {
  text-transform: capitalize;
  font-size: 19px;
  color: #fafafa;
}

footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-top: 35px;
}

footer .copyright .copy_text {
  font-size: 17px;
  color: #fafafa;
}

footer .copyright ul {
  margin: 0;
}

footer .copyright ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: #fafafa;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #000;
  margin-top: 5px;
  margin-bottom: 5px;
}

footer .copyright ul li a:hover {
  background-color: #e5d80e;
  color: #fafafa;
}

.banner {
  background-color: #001a3b;
  width: 100%;
  height: calc(100vh - 189px);
  min-height: 588px;
  overflow: hidden;
}

.banner .social_icons {
  position: absolute;
  padding-left: 0px;
  right: 45px;
  list-style: none;
  bottom: calc(0px + 100px);
  margin: 0px;
  z-index: 2;
  font-size: 25px;
  text-align: center;
}

.banner .social_icons li {
  margin-top: 15px;
}

.banner .social_icons li a {
  color: #e5d80e;
}

.banner .social_icons li a:hover {
  color: #fff;
}

.banner .pulse_button {
  position: absolute;
  right: 40px;
  bottom: 105px;
}

.banner .slider_section {
  position: relative;
  padding: 50px 0px 50px 270px;
  min-width: 586px;
}

.banner .slider_section .home_slider {
  width: 730px;
  margin: 0 auto;
}

.banner .slider_section .home_slider .owl-stage-outer {
  overflow: visible;
}

.banner .slider_section .home_slider .owl-stage-outer .owl-item .inner_item {
  display: none;
}

.banner
  .slider_section
  .home_slider
  .owl-stage-outer
  .owl-item.active
  .inner_item {
  display: block;
}

.banner .slider_section .home_slider figure {
  overflow: hidden;
  width: calc(100% - 1px);
  margin: 0;
  border-radius: 15px;
}

.banner .slider_section .home_slider figure:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
  border-radius: 15px;
}

.banner .slider_section .home_slider .slider_text {
  position: absolute;
  top: 50%;
  width: 730px;
  left: -265px;
  -webkit-transform: translateY(-35%);
  transform: translateY(-35%);
}

.banner .slider_section .home_slider .slider_text h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
}

.banner .slider_section .home_slider .slider_text .btn_requestQuote {
  min-width: 172px;
  line-height: 42px;
  color: #000;
  margin-top: 40px;
  font-weight: 600;
}

.banner .slider_section .home_slider .slider_text .btn_requestQuote:after {
  background: #fff;
}

.banner .slider_section .home_slider .slider_text .btn_requestQuote:hover span {
  color: #000 !important;
}

.banner .slider_section .home_slider .owl-nav {
  margin: 0 !important;
}

.banner .slider_section .home_slider .owl-nav button {
  position: absolute;
  z-index: 1;
  margin: 0;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
}

.banner .slider_section .home_slider .owl-nav button i {
  font-size: 28px;
}

.banner .slider_section .home_slider .owl-nav button.owl-next {
  right: -17px;
  bottom: 30px;
}

.banner .slider_section .home_slider .owl-nav button.owl-next i {
  margin-left: 4px;
}

.banner .slider_section .home_slider .owl-nav button.owl-prev {
  left: -17px;
  top: 30px;
}

.banner .slider_section .home_slider .owl-nav button.owl-prev i {
  margin-right: 4px;
}

.banner .slider_section .home_slider .owl-nav button:hover {
  background: #e5d80e;
  color: #fff;
}

.partners {
  background: #001a3b;
}

.partners .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 0 106px;
}

.partners .container .partner_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 140px;
  width: 170px;
}

.partners .container .partner_image img {
  -o-object-fit: contain;
  object-fit: contain;
}

.belives {
  position: relative;
}

.belives .belives_inner {
  position: relative;
  z-index: 1;
  background: #fff;
  margin-top: 47px;
  border-radius: 10px;
  overflow: hidden;
  padding: 34px 35px;
}

.belives .belives_inner .article_box span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 60px;
  height: 60px;
  background: #fef5dd;
  border-radius: 50%;
  margin-bottom: 20px;
}

.belives .belives_inner .article_box h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.belives .belives_inner .article_box p {
  font-size: 18px;
}

.belives .belives_inner .row > div[class^="col"] {
  border-right: 1px solid #efefef;
}

.belives .belives_inner .row > div[class^="col"]:nth-child(3n + 1) {
  padding-right: 40px;
}

.belives .belives_inner .row > div[class^="col"]:nth-child(3n + 2) {
  padding: 0 40px;
}

.belives .belives_inner .row > div[class^="col"]:nth-child(3n + 3) {
  padding-left: 40px;
}

.belives .belives_inner .row > div[class^="col"]:last-child {
  border-right: 0px;
}

.belives:after {
  content: "";
  position: absolute;
  top: -47px;
  left: 0;
  width: 100%;
  height: 160px;
  background: #001a3b;
}

.dedicated,
.training .training_data,
.career {
  text-align: center;
  padding: 68px 0px;
}

.dedicated h3,
.training .training_data h3,
.career h3 {
  font-size: 34px;
  max-width: 640px;
  margin: auto;
  line-height: 43px;
  font-weight: bold;
  margin-bottom: 24px;
}

.dedicated p,
.training .training_data p,
.career p {
  font-size: 19px;
  max-width: 853px;
  margin: auto;
}

.dedicated .dedicated_buttons,
.training .training_data .dedicated_buttons,
.career .dedicated_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 42px;
}

.dedicated .dedicated_buttons a,
.training .training_data .dedicated_buttons a,
.career .dedicated_buttons a {
  line-height: 42px;
  margin: 0px 15px;
}

.dedicated .dedicated_buttons a.btn_requestProposal,
.training .training_data .dedicated_buttons a.btn_requestProposal,
.career .dedicated_buttons a.btn_requestProposal {
  min-width: 200px;
}

.dedicated .dedicated_buttons a.btn_contactRoyal,
.training .training_data .dedicated_buttons a.btn_contactRoyal,
.career .dedicated_buttons a.btn_contactRoyal {
  min-width: 290px;
}

.training .training_data small {
  font-size: 32px;
  color: #e5d80e;
  font-weight: 600;
  display: block;
  margin-bottom: 13px;
}

.training .training_data h3 {
  font-size: 40px;
  color: #fff;
}

.training .training_data p {
  color: #fff;
}

.career .career_data h3 {
  font-size: 40px;
}

.career .career_data .btn_requestProposal {
  min-width: 158px;
}

.career .career_data .container {
  margin-top: 70px;
}

.career .career_data .career_boxes figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 400px;
  border-radius: 20px;
  margin: 0;
  overflow: hidden;
}

.career .career_data .career_boxes figure img {
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.career .career_data .career_boxes .effect_button_div {
  position: relative;
  z-index: 1;
  top: -23px;
  background: #fff;
  padding: 6px;
  border-radius: 20px;
  width: calc(100% - 120px);
  max-width: 250px;
  margin: auto;
}

.career .career_data .career_boxes .effect_button_div .effect_button {
  width: calc(100%);
  text-transform: uppercase;
  line-height: 45px;
  font-size: 18px;
}

.career .career_data .career_boxes:hover figure img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.royal_touch {
  background: #fff;
  padding: 60px 0px;
}

.royal_touch .container {
  padding: 0px;
}

.royal_touch h3 {
  text-align: center;
  margin-bottom: 24px;
}

.royal_touch p {
  font-size: 19px;
  max-width: 853px;
  margin: auto;
  text-align: center;
}

.royal_touch .row {
  margin-top: 55px;
}

.royal_touch .row .article_box {
  text-align: center;
  padding: 35px 0px;
  position: relative;
  z-index: 1;
}

.royal_touch .row .article_box span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 59px;
  margin-bottom: 25px;
}

.royal_touch .row .article_box span img {
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}

.royal_touch .row .article_box h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.royal_touch .row .article_box .circle_link {
  width: 50px;
  height: 50px;
  background: #e5d80e;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 33px;
  border-radius: 50%;
  margin-top: 25px;
  color: #000;
}

.royal_touch .row .article_box .circle_link:hover {
  background: #001a3b;
  color: #fff;
}

.royal_touch .row > div[class^="col"] {
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}

.royal_touch .row > div[class^="col"]:nth-child(3n + 1) {
  padding: 0 40px;
}

.royal_touch .row > div[class^="col"]:nth-child(3n + 2) {
  padding: 0 40px;
}

.royal_touch .row > div[class^="col"]:nth-child(3n + 3) {
  padding: 0 40px;
  border-right: 0px;
}

.royal_touch .row > div[class^="col"]:last-child {
  border-right: 0px;
}

.royal_touch .row > div[class^="col"]:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 35px);
  height: calc(100% - 35px);
  -webkit-transform: scale(1) translateX(-50%) translateY(-50%);
  transform: scale(1) translateX(-50%) translateY(-50%);
  z-index: 0;
  -webkit-box-shadow: 0 0 10px #e6e4e4;
  box-shadow: 0 0 10px #e6e4e4;
  border-radius: 16px;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.royal_touch .row > div[class^="col"]:hover:after {
  opacity: 1;
}

.royal_touch .view_more {
  min-width: 255px;
  text-transform: capitalize;
  line-height: 42px;
  margin-top: 40px;
}

.royal_touch .view_more span {
  position: relative;
  z-index: 1;
}

.royal_touch .view_more:after {
  z-index: 0;
}

.testinomial {
  padding: 70px 0px 60px;
  background: #ededf0;
}

.testinomial h4 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 40px;
}

.testinomial .carousel {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.testinomial .carousel .carousel-indicators {
  display: block;
  position: static !important;
  margin: 0;
  width: 500px;
  background: #ededf0;
  height: 350px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.testinomial .carousel .carousel-indicators::-webkit-scrollbar {
  width: 0 !important;
}

.testinomial .carousel .carousel-indicators li {
  width: 83% !important;
  height: auto !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  text-indent: 0;
  opacity: 1;
  background: no-repeat;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 25px;
  padding: 7px 20px;
  border-radius: 10px;
}

.testinomial .carousel .carousel-indicators li.active {
  background: #fff;
  -webkit-box-shadow: 0 0 10px #d6d6d6;
  box-shadow: 0 0 10px #d6d6d6;
}

.testinomial .carousel .carousel-indicators li .user_image {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 70px;
  height: 70px;
  background: #e4e4e4;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 23px;
}

.testinomial .carousel .carousel-indicators strong {
  font-size: 19px;
  display: block;
}

.testinomial .carousel .carousel-indicators span {
  color: #a39dbb;
}

.testinomial .carousel .carousel-item {
  padding-left: 100px;
}

.testinomial .carousel .carousel-item h6 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
}

.testinomial .carousel .carousel-item .rapStar {
  text-shadow: none;
  margin: 0 0 15px;
}

.testinomial .carousel .carousel-item p {
  font-size: 19px;
}

@media (max-width: 1200px) {
  .social_icons {
    display: none;
  }
  .banner .slider_section .home_slider {
    width: 560px;
  }
  .banner .pulse_button {
    right: 77px;
  }
  .banner {
    min-height: 480px;
  }
}

@media (max-width: 1100px) {
  .banner .pulse_button {
    display: none;
  }
}

@media (max-width: 897px) {
  .banner {
    height: auto;
    min-height: unset;
  }
  .banner .slider_section {
    padding-left: 0px !important;
    padding-bottom: 10px;
  }
  .banner .slider_section .home_slider {
    width: 100% !important;
  }
  .banner .slider_section .home_slider .owl-stage-outer {
    overflow: hidden !important;
  }
  .banner .slider_section .home_slider .slider_text {
    position: static !important;
    -webkit-transform: none !important;
    transform: none !important;
    width: auto !important;
    text-align: center;
  }
  .banner .slider_section .home_slider figure {
    display: none;
  }
  .banner .slider_section .home_slider .owl-nav button {
    position: static !important;
    margin: 35px 10px 0;
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  .royal_touch .row > div[class^="col"] {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .dedicated p,
  .training .training_data p,
  .career p,
  .training .training_data p,
  .career p,
  .royal_touch p {
    padding: 0px 60px;
  }
  footer .footer_bottom .right_footer .footer_links li {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .banner .slider_section .home_slider .slider_text h1 {
    font-size: 35px;
    line-height: 50px;
  }
  .belives .belives_inner .row > div[class^="col"]:nth-child(3n + 2),
  .belives .belives_inner .row > div[class^="col"]:nth-child(3n + 3) {
    padding: 0px 15px;
  }
  .dedicated p,
  .training .training_data p,
  .career p,
  .training .training_data p,
  .career p,
  .royal_touch p {
    padding: 0px 15px;
  }
  .banner .slider_section {
    min-width: unset;
  }
  .testinomial .carousel .carousel-item {
    padding-left: 0px;
  }
}

@media (max-width: 575px) {
  .dedicated p,
  .training .training_data p,
  .career p,
  .training .training_data p,
  .career p,
  .royal_touch p {
    padding: 0px 30px;
    font-size: 16px;
  }
  .banner .slider_section .home_slider .slider_text h1 {
    font-size: 27px;
  }
  .partners .container {
    display: block !important;
    padding: 0px 65px;
  }
  .partners .container .partner_image {
    margin: 0px auto 28px;
    display: block !important;
  }
  .partners {
    padding-top: 20px;
  }
  footer .footer_bottom .right_footer {
    padding-left: 0;
    padding-top: 20px;
  }
}
/* sourceMappingURL=style.css.map */

/* New Css  */
header#dp_header {
  background: #fff;
}
.sub-menu {
  visibility: hidden;
}
header#dp_header .navbar-nav .nav-item .menu_item:hover .sub-menu {
  visibility: visible;
}
.rc-bg {
  background-color: fafafd;
  text-align: left;
  padding: 65px 0;
}
.rc-bg h3 {
  font-size: 34px;
  font-weight: bold;
  padding-top: 25px;
  margin-bottom: 25px;
}
.rc-bg p {
  font-size: 19px;
}
strong {
  font-size: 25px;
  font-weight: 900;
}
.download-form {
  background: #e5d847;
  width: 215px;
  padding: 12px;
  text-align: center;
  margin-top: 22px;
  border-radius: 45px;
}
.download-form a {
  font-size: 25px;
  color: #000;
  font-weight: bold;
}
